* {
	font-size: 14px;
	font-family: Roboto, sans-serif;
}
body {
	width: 940px;
	margin: 0 auto;
	background: #e9eef6;
}
.sandRow {
	max-width: 100%;
}
.container {
	width: 95%;
	margin: 0 auto;
}
.txtContainer {
	width: 80%;
	margin: 0 auto;
}
.beachSandPage {
 	background: white;
 	padding-top: 5px;
}
p {
	margin-top: 0;
}
h4 {
    padding: 5px;
    background-color: #2f7de4;
    color: #fff;
    font-size: 18px;
   	text-align: center;
    font-weight: 500;
}

.sandHead {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	padding-bottom: 5px;
}

.sandText,
.gratePhoto,
.golfPhoto {
	display:inline-block;
	vertical-align: top
}

.sandText {
	width: 70%;
	margin-right: 10px;
}

.sandText p {
	margin-top: 0;
}

.gratePhoto,
.golfPhoto {
	width:28%;
}

.gratePhoto img,
.golfPhoto img {
	max-width: 100%;
}

.gratePhoto p,
.golfPhoto p {
	text-align: center
}

.sandRow iframe {
	margin: 0 auto;
}
