* {
	font-size: 14px;
	font-family: Roboto, sans-serif;
}
body {
	width: 940px;
	margin: 0 auto;
	background: #e9eef6;
}
.sandRow {
	max-width: 100%;
}
.container {
	width: 95%;
	margin: 0 auto;
}
.txtContainer {
	width: 80%;
	margin: 0 auto;
}
.beachSandPage {
 	background: white;
 	padding-top: 5px;
 	line-height: 1.5em;
}
p {
	margin-top: 0;
}
h4 {
    padding: 5px;
    background-color: #2f7de4;
    color: #fff;
    font-size: 18px;
   	text-align: center;
    font-weight: 500;
}

.sandHead {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	padding-bottom: 5px;
}

.sandText,
.gratePhoto,
.golfPhoto {
	display:inline-block;
	vertical-align: top
}

.sandText {
	width: 70%;
	margin-right: 10px;
}

.sandText p {
	margin-top: 0;
}

.gratePhoto,
.golfPhoto {
	width:28%;
}

.gratePhoto img,
.golfPhoto img {
	max-width: 100%;
}

.gratePhoto p,
.golfPhoto p {
	text-align: center
}

.sandRow iframe {
	margin: 0 auto;
}

.agreeHead {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	padding-bottom: 25px;
}

.agreeSig {
/*	width: 70%;
	border-bottom:1px solid black;
	padding-bottom: 50px;*/
	text-align: center;
}

.sandCalc {
	text-align: center;
}

.sandCalc img {
	max-width: 100%;
	padding-bottom: 10px;
}

.sandCalc table {
	margin: 0 auto 30px;
	border-collapse: collapse;
	/*padding-bottom: 30px;*/
	border: 1px solid black;
}

.sandCalc th, td {
	padding: 15px;
	border: 1px solid darkgrey;
}

.sandCalc th {
	background: #2f7de4;
	color: white;
	text-align: center;
	font-weight: 700;
	padding:5px;
}

.sandCalc tr:nth-child(even) {
    background-color: #f2f2f2;
}

.sandCalc table input {
	text-align: center;
}

@media (max-width: 479px) {
	.txtContainer {
		width: 100%;
	}
	.sandText {
		width: 100%;
	}
	.gratePhoto,
	.golfPhoto {
		width:100%;
		text-align: center;
	}
}